
.NewTodo
{
  /* display: flex; */
  color: aqua;
  border-radius: 1vw;
  border-style: solid;
  border-width: 1px;
  width: 60vw;
  margin: 1vw;
  padding: 1vw;
}



/* .tile-text-container
{
  flex: 10;
}

.tile-button-container
{
  flex: 1;
  text-align: right;
  margin: auto;
} */



.new-control-container
{
  display: flex;
}

.new-button-container
{
  flex: 1;
  text-align: right;
  margin: auto;
}

.new-form-container
{
  flex: 10;
}

.new-form-container input
{
  width: 50vw;
}

.new-button-container a
{
  font-size: large;
  cursor: pointer;
}
