
.TodoTile
{
  display: flex;
  border-radius: 1vw;
  width: 60vw;
  margin: 1vw;
  padding: 1vw;
}

.tile-text-container
{
  flex: 10;
}

.tile-button-container
{
  flex: 1;
  text-align: right;
  margin: auto;
}

.tile-button-container a
{
  cursor: pointer;
}
